.BotonSesion{
    background-color: #000000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 10%;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    right: 20px;
    position: absolute;
    justify-content: center;
}
.BotonModal{
    background-color: #054480;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.BotonCrear{
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.papermemes{
    width: auto;
    transition: 0.3s;
    background-color: #e2fffb;
}
.imagenes{
    width: 800px;
    height: 100%;
    transition: 0.3s;
    border: #000208 2px solid;
}
.paperimagen{
    border: #000000 2px solid;
    background-color: #033038;
    
}
.botonSubir{
   position: fixed;
   bottom: 20px;
   right: 20px;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
   z-index: 1000;
}
.botonMegusta{
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.postby{
    position: absolute;
    margin-left: 550px;
    max-width: 90%; /* Limita el ancho del texto */
    font-size: 12px; 
}
.SubirMeme{
    margin-top: 20px;
}
.selectpro{
    width: 250px;
    height: auto;
}
.divSelect{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #e2fffb;
}
.paperHeader{
    background-color: #e2fffb;
}